body {
    font-family: 'Palanquin', sans-serif;
}

/*
colors ...
white light bright medium dark black

ffffff e0e0e0e c0c0c0 808080 202020 000000
               c0c020 208020 202000
               20c0c0        002020
       20e020  20c020        002000
               2020c0        000020

  --c-brand: #20e020;
  --c-brand-light: var(--c-brand);

  // background colors
  --c-bg: #e0e0e0e;
  --c-bg-light: var(--c-bg);
  --c-bg-lighter: var(--c-bg);
  --c-bg-navbar: var(--c-bg);
  --c-bg-sidebar: var(--c-bg);
  --c-bg-arrow: #cccccc;

  // text colors
  --c-text: #202020;
  --c-text-accent: var(--c-brand);
  --c-text-light: var(--c-brand);
  --c-text-lighter: var(--c-brand);
  --c-text-lightest: var(--c-brand);
  --c-text-quote: var(--c-brand);

  // border colors
  --c-border: #c0c0c0;
  --c-border-dark: var(--c-border);




*/

:root {
    --content-width: 940px;
    --homepage-width: 1160px;

    // old colors
    /*
    --c-bg: #f0f0f0;
    --c-bg-light: #f0e0d0;
    
    --c-bg-navbar: #e0e000;
    --c-text: #1010c0;    
    */


/*    
    // new light colors
  // brand colors
  --c-brand: #3eaf7c;
  --c-brand-light: #4abf8a;

  // background colors
  --c-bg: #ffffff;
  --c-bg-light: #f3f4f5;
  --c-bg-lighter: #eeeeee;
  --c-bg-navbar: var(--c-bg);
  --c-bg-sidebar: var(--c-bg);
  --c-bg-arrow: #cccccc;

  // text colors
  --c-text: #2c3e50;
  --c-text-accent: var(--c-brand);
  --c-text-light: #3a5169;
  --c-text-lighter: #4e6e8e;
  --c-text-lightest: #6a8bad;
  --c-text-quote: #999999;

  // border colors
  --c-border: #eaecef;
  --c-border-dark: #dfe2e5;
*/

--c-white: #fff;
--c-black: #000;

--c-brand: #007800;
--c-brand-fix: #007800;
--c-brand-light: var(--c-brand);

--c-info: #0000c0;

// background colors
--c-bg: #e8e8e8;
--c-bg2: #f0f0f0;
--c-bg-fix: #e8e8e8; /* doesn't change on dark mode */
--c-bg-light: var(--c-bg);
--c-bg-lighter: var(--c-bg);
--c-bg-navbar: var(--c-bg);
--c-bg-sidebar: var(--c-bg);
--c-bg-arrow: #cccccc;

// text colors
--c-text: #202020;
--c-text-accent: var(--c-brand);
--c-text-light: var(--c-text);
--c-text-lighter: var(--c-text);
--c-text-lightest: var(--c-text);
--c-text-quote: var(#e0e0e0e);

// border colors
--c-border: #808080;
--c-border-dark: var(--c-border);
--c-border-light-fix: #c0c0c0;





  // custom container colors
  --c-tip: #42b983;
  --c-tip-bg: var(--c-bg-light);
  --c-tip-title: var(--c-text);
  --c-tip-text: var(--c-text);
  --c-tip-text-accent: var(--c-text-accent);
  --c-warning: #e7c000;
  --c-warning-bg: #fffae3;
  --c-warning-title: #ad9000;
  --c-warning-text: #746000;
  --c-warning-text-accent: var(--c-text);
  --c-danger: #cc0000;
  --c-danger-bg: #ffe0e0;
  --c-danger-title: #990000;
  --c-danger-text: #660000;
  --c-danger-text-accent: var(--c-text);
  --c-details-bg: #eeeeee;

  // badge component colors
  --c-badge-tip: var(--c-tip);
  --c-badge-warning: var(--c-warning);
  --c-badge-danger: var(--c-danger);

  // transition vars
  --t-color: 0.3s ease;
  --t-transform: 0.3s ease;

  // code blocks vars
  /*
  --code-bg-color: #282c34;
  --code-hl-bg-color: rgba(0, 0, 0, 0.66);
  --code-ln-color: #9e9e9e;
  --code-ln-wrapper-width: 3.5rem;
  */
  // blues
  --code-color: #e0e0e0;
  --code-bg-color: #202040;
  --code-hl-bg-color: rgba(0, 0, 0, 0.66);
  --code-ln-color: #c0c0ff;
  --code-ln-wrapper-width: 3.5rem;


}

html.dark {
    // brand colors


  /*    
    --c-brand: #3aa675;
    --c-brand-light: #349469;
  
    // background colors
    --c-bg: #22272e;
    --c-bg-light: #2b313a;
    --c-bg-lighter: #262c34;
  
    // text colors
    --c-text: #adbac7;
    --c-text-light: #96a7b7;
    --c-text-lighter: #8b9eb0;
    --c-text-lightest: #8094a8;
  
    // border colors
    --c-border: #3e4c5a;
    --c-border-dark: #34404c;

    */

    --c-brand: #40e040;
    --c-brand-light: var(--c-brand);
    --c-info: #c0c0f8;

    
    // background colors
    --c-bg: #404040;
    --c-bg2: #303030;
    --c-bg-light: var(--c-bg);
    --c-bg-lighter: var(--c-bg);
    --c-bg-navbar: var(--c-bg);
    --c-bg-sidebar: var(--c-bg);
    --c-bg-arrow: #cccccc;
    
    // text colors
    --c-text: #e0e0e0;
    --c-text-accent: var(--c-brand);
    --c-text-light: var(--c-text);
    --c-text-lighter: var(--c-text);
    --c-text-lightest: var(--c-text);
    --c-text-quote: var(#e0e0e0e);
    
    // border colors
    --c-border: #c0c0c0;
    --c-border-dark: var(--c-border);
    
    
    
    // custom container colors
    --c-tip: #318a62;
    --c-warning: #ceab00;
    --c-warning-bg: #7e755b;
    --c-warning-title: #ceac03;
    --c-warning-text: #362e00;
    --c-danger: #940000;
    --c-danger-bg: #806161;
    --c-danger-title: #610000;
    --c-danger-text: #3a0000;
    --c-details-bg: #323843;
  
    // code blocks vars
    --code-color: #e0e0e0e;
    --code-bg-color: #202040;
    --code-hl-bg-color: rgba(0, 0, 0, 0.66);
    --code-ln-color: #c0c0ff;
  /*
  --code-hl-bg-color: #363b46;
  */
  }
  