.callout {
    padding: 1rem 1rem;
    margin: 1rem 0;
    border: var(--cui-callout-border-width, 1px) solid var(--cui-callout-border-color, #d8dbe0);
    border-left-width: var(--cui-callout-border-left-width, 4px);
    border-radius: 0.25rem;
  }
  
  .callout-primary {
    border-left-color: var(--cui-callout-border-left-color, #321fdb);
  }
  
  .callout-secondary {
    border-left-color: var(--cui-callout-border-left-color, #9da5b1);
  }
  
  .callout-success {
    border-left-color: var(--cui-callout-border-left-color, #2eb85c);
  }
  
  .callout-danger {
    border-left-color: var(--cui-callout-border-left-color, #e55353);
  }
  
  .callout-warning {
    border-left-color: var(--cui-callout-border-left-color, #f9b115);
  }
  
  .callout-info {
    border-left-color: var(--cui-callout-border-left-color, #39f);
  }
  
  .callout-light {
    border-left-color: var(--cui-callout-border-left-color, #ebedef);
  }
  
  .callout-dark {
    border-left-color: var(--cui-callout-border-left-color, #4f5d73);
  }
  