@charset "UTF-8";

@-webkit-keyframes progress-bar-stripes {
    0% {
      background-position-x: 1rem;
    }
  }
  
  @keyframes progress-bar-stripes {
    0% {
      background-position-x: 1rem;
    }
  }
  .progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: var(--cui-progress-bg, #d8dbe0);
    border-radius: 0.25rem;
  }
  
  .progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: var(--cui-progress-bar-color, rgba(255, 255, 255, 0.87));
    text-align: center;
    white-space: nowrap;
    background-color: var(--cui-progress-bar-bg, #321fdb);
    transition: width 0.6s ease;
  }
  @media (prefers-reduced-motion: reduce) {
    .progress-bar {
      transition: none;
    }
  }
  
  .progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
  }
  
  .progress-bar-animated {
    -webkit-animation: 1s linear infinite progress-bar-stripes;
    animation: 1s linear infinite progress-bar-stripes;
  }
  @media (prefers-reduced-motion: reduce) {
    .progress-bar-animated {
      -webkit-animation: none;
      animation: none;
    }
  }
  
  .progress-thin {
    height: 4px;
  }
  
  .progress.progress-white {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .progress.progress-white .progress-bar {
    background-color: #fff;
  }
  
  .progress-group {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1rem;
  }
  
  .progress-group-prepend {
    flex: 0 0 100px;
    align-self: center;
  }
  
  .progress-group-header {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    margin-bottom: 0.25rem;
  }
  
  .progress-group-bars {
    flex-grow: 1;
    align-self: center;
  }
  .progress-group-bars .progress:not(:last-child) {
    margin-bottom: 2px;
  }
  
  .progress-group-header + .progress-group-bars {
    flex-basis: 100%;
  }
  
  