/*  fonts */

/* latin-ext */
@font-face {
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/Palanquin-Light.woff2) format('woff2'),
    url(../fonts/Palanquin-Light.woff) format('woff'),
    url(../fonts/Palanquin-Light.ttf) format('truetype');
  /*
  src: url(https://fonts.gstatic.com/s/palanquin/v13/9XUilJ90n1fBFg7ceXwUvnpYzZGrXi0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  src: url(/fonts/Palanquin-Light.ttf) format('truetype');
  */ 
}
  /* latin-ext */
@font-face {
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Palanquin-Regular.woff2) format('woff2'),
    url(../fonts/Palanquin-Regular.woff) format('woff'),
    url(../fonts/Palanquin-Regular.ttf) format('truetype');
  /* 
  src: url(/fonts/Palanquin-Regular.ttf) format('truetype');
  src: url(https://fonts.gstatic.com/s/palanquin/v13/9XUnlJ90n1fBFg7ceXwcf1tN_LA.woff2) format('woff2');
  src: url(/fonts/palanquin400.woff2) format('woff2');
  src: url(../../public/fonts/Palanquin-Regular.ttf) format('truetype');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  */
}

/* latin-ext */
@font-face {
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/Palanquin-SemiBold.woff2) format('woff2'),
    url(../fonts/Palanquin-SemiBold.woff) format('woff'),
    url(../fonts/Palanquin-SemiBold.ttf) format('truetype');
  /*
  src: url(https://fonts.gstatic.com/s/palanquin/v13/9XUilJ90n1fBFg7ceXwUrn9YzZGrXi0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  src: url(/fonts/Palanquin-SemiBold.ttf) format('truetype');
  */
}
